.bg-info {
  background-color: white !important;
}

.cb-info {
  background-color: #caf0f8;
}

.btn-secondary {
  background-color: #00b4d8;
}

.btn-primary {
  background-color: #00b4d8;
}

.Create-account {
  color-scheme: #00b4d8;
}
